$color: black;
$background-color: rgb(240, 224, 201);
$font-family: Courier New, Courier, monospace;

#root {
  width: 32em;
  height: 36em;
  color: $color;
  text-align: center;
  font-family: $font-family;
  background-color: $background-color;
}